@charset "utf-8";
/* CSS Document */
*{ margin: 0; padding: 0; font-family: "宋体"; font-size: 16px}
body{background-image:url(images/bg.jpg);width: 100%}
ul{ list-style: none}
ol{ list-style: none}
li{ list-style: none}
.clear{ clear: both}
.flot{float: left}
.flot1{ float: right}
.ce{text-align: center}
.zssi{font-size:24px;color: black; font-weight: 900}
.zssi:hover{color: rgba(250,250,100,0.8)}

.ssk{height: 20px;width: 100px;}
.ssb{ padding-top:5px}

.pointer:hover{cursor: pointer}
.radius{;border: 1px #000000 solid;border-radius: 5px}
.dbzq{ height: 50px; width: 100px;line-height: 50px;padding-left: 5px;color:black; text-align: center;font-weight: 900; float: left}
.atop{ height: 50px; width: 100%; margin-top: 0,auto; background-color: rgba(255,255,255,0.4);box-shadow: 0px 1px 2px rgba(0,0,0,0.1)}
.abk{ height: 200px; width: 100%; margin: 0,auto; background-image:url(images/abk1.jpg)}
.atop ul{width: 1200px;padding-left: 360px}
.atop ul li{float:left;line-height: 50px;width: 200px; font-size:24px;color: black; font-weight: 900;}
.atop ul li:hover{color: rgba(250,250,100,0.8)}
.atop ul li:hover{cursor: pointer}

.zhuti{margin-left: auto;margin-right: auto; width: 1000px;background-color:aliceblue }
.zhuti1{height: 60px;border-bottom: 5px #9A9A9A dashed}
.zhuti1 ul li{height: 60px;width: 142px;line-height: 60px;text-align: center; float: left; background: url(images/zt1.png) no-repeat left center}
.zhuti1 ol{display: none}
.zhuti1 ol li{height: 30px;width: 100px;line-height: 30px;text-align:right;float: left; background-color: rgba(255,255,255,0.4); border-left: 5px #ECEB3E solid;color:steelblue;background: url(images/jt1.png) no-repeat left}
.zhuti1 ol li:hover{ background-color:cyan}
.zhuti1 ul li:hover{cursor: pointer;color:coral}
li:hover ol{display: block;cursor: pointer}

.ph1{width:1000px;border: 1px black dashed;border-radius: 10px}
.ph12{height:35px; width:1000px; text-align: center;color:coral; font-size: 20px}
.ph1 span{ height: 40px;background-color: salmon}
.ph1 ul li{width:1000px;background-color:beige;border-bottom: 1px #878787 dashed;letter-spacing: 3px;line-height: 30px;text-indent:2em}
.tuiguang{ text-align: center;width: 60px;height: 35px;line-height: 35px; font-size: 24px;font-weight: 900;color: teal}

.jw{background-color:rgba(180,180,180,0.5);height: 200px;width:100%;margin-top: 20px}
.jw1{width: 20%;height: 200px;float: left}
.jw1 ul li{height: 100px; width: 112px;float: left;line-height: 100px;text-align: center;cursor: pointer}
.jw1 ul li:hover{color: rgba(250,250,100,0.8)}
.jw1 ol li{height: 150px; width: 112px;float: left;text-align: center;line-height: 30px;padding-top: 50px;cursor: pointer}
.jw1 ol li:hover{color: rgba(250,250,100,0.8)}