@charset "utf-8";
/* CSS Document */
*{ margin: 0; padding: 0; font-family: "宋体"; font-size: 16px}
body{background-image:url(images/bg.jpg);width: 100%}
ul{ list-style: none}
ol{ list-style: none}
li{ list-style: none}
.clear{ clear: both}
.flot{float: left}
.flot1{ float: right}
.zssi{font-size:24px;color: black; font-weight: 900}
.zssi:hover{color: rgba(250,250,100,0.8)}

.ssk{height: 20px;width: 100px;}

.pointer:hover{cursor: pointer}
.radius{;border: 1px #000000 solid;border-radius: 5px}
.dbzq{ height: 100px; width: 300px;line-height: 50px;padding-left: 5px;color:black; text-align: center;font-weight: 900; float: left}
.atop{ height: 50px; width: 100%; margin-top: 0,auto; background-color: rgba(255,255,255,0.4);box-shadow: 0px 1px 2px rgba(0,0,0,0.1)}
.abk{ height: 200px; width: 100%; margin: 0,auto; background-image:url(images/abk1.jpg)}
.atop ul{width: 1200px;padding-left: 360px}
.atop ul li{float:left;line-height: 50px;width: 200px; font-size:24px;color: #00FFFF; font-weight: 900;}
.atop ul li:hover{color: rgba(250,250,100,0.8)}
.atop ul li:hover{cursor: pointer}

.zhuti{margin-left: auto;margin-right: auto; width: 1000px;background-color:aliceblue }
.zhuti1{height: 60px;border-bottom: 5px #9A9A9A dashed}
.zhuti1 ul li{height: 60px;width: 142px;line-height: 60px;text-align: center; float: left; background: url(images/zt1.png) no-repeat left center}
.zhuti1 ol{display: none}
.zhuti1 ol li{height: 30px;width: 100px;line-height: 30px;text-align:right;float: left; background-color: rgba(255,255,255,0.4); border-left: 5px #ECEB3E solid;color:steelblue;background: url(images/jt1.png) no-repeat left}
.zhuti1 ol li:hover{ background-color:cyan}
.zhuti1 ul li:hover{cursor: pointer;color:coral}
li:hover ol{display: block;cursor: pointer}

.lb{width: 1000px;height: 450px}
.lb ul{position: relative}
.lb ul li{ width: 200pxl; height: 115px}
.xiao{width: 180pxl; height: 105px}
.xiao:hover{transform: scale(0.9,0.9);transition: all 0.5s ease;}
.lb ul li div{display:none;position: absolute; top: 0;right:0}
.lb ul li .fspic{display:block}
.lb ul li:hover div{display: block}
.lb ul li:hover{cursor: pointer}


.sytp{height: 300px;width: 1000px}
.syt1{height: 300px;width: 500px;float: left}
.sytf{height: 300px;width: 500px;float: left}
.sytf ul li{height: 50px; width: 500px;border-top: 1px #878787 dashed;line-height: 50px}
.sytf ul li span{ height: 35px;background-color: salmon}
.syt2{height: 140px;width: 500px;float: left; font-size:20px; font-weight:900; letter-spacing:1px}
.syt3{height: 300px;width: 15px;float: left; background: url(images/bg1.jpg)}
.syt1:hover{transform: scale(0.9,0.9);transition: all 0.5s ease}
.uljs{height: 50px;}
.uljs1{height: 50px;color: #008080;}

.tuiguang{ text-align: center;width: 60px;height: 35px;line-height: 35px; font-size: 24px;font-weight: 900;color: teal}

.ph1{width: 330px; height: 270px; float: left;border: 1px black dashed;border-radius: 10px}
.ph12{height:25px; width: 180px; text-align: center;color:coral}
.ph1 span{ height: 40px;background-color: salmon}
.ph1 ul li{height: 33px; width: 330px;background-color:beige;border-bottom: 1px #878787 dashed;line-height: 33px}
.ph1 ul li:hover{cursor: pointer}

.tg1{margin-top: 40px}
.tg2{margin-top: 50px}
.tg3{margin-top: 100px}
.tgtq{height: 160px; width: 1000px}
.tgtq1{height: 20px; width: 1000px}
.tg1 ul li{height: 160px; width: 200px;float: left}
.tg1 ul li:hover{transform:translateY(20px);transition:all 0.5s ease}

.jw{background-color:rgba(180,180,180,0.5);height: 200px;width:100%;margin-top: 20px}
.jw1{width: 20%;height: 200px;float: left}
.jw1 ul li{height: 100px; width: 112px;float: left;line-height: 100px;text-align: center;cursor: pointer}
.jw1 ul li:hover{color: rgba(250,250,100,0.8)}
.jw1 ol li{height: 150px; width: 112px;float: left;text-align: center;line-height: 30px;padding-top: 50px;cursor: pointer}
.jw1 ol li:hover{color: rgba(250,250,100,0.8)}